// Define MAC if not predefined
#define MAC {  0x00, 0xAA, 0xBB, 0xCC, 0xDE, 0x02 }

// MQTT Broker ip and port
#define BROKER { 192, 168, 0, 50 }
#define BROKER_PORT 1883

// MQTT USER
#define MQTT_CLIENT_ID "id"
#define MQTT_USER "username"
#define MQTT_PWD "password"


